body {
	background-color: #ffe892;
}

.App {
	margin: 20px auto 40px;
	width: 80%;
	max-width: 1000px;
	border: 1px solid #6d83ec;
	background-color: #f7f5f5;
	border-radius: 8px;
	overflow: hidden;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}







