/*   Header   */

.header {
	background-color: #6d83ec;
	padding: 2px 12px;
	color: white;
	font-size: 14px;
}
 
.header-title {
	font-size: 1.3em;
	font-weight: normal;
}

h1{ 
	display: inline-block;
	vertical-align: middle;
 }

.header img {
    width: 23px;
    border: 2px solid white;
    border-radius: 33px;
    margin-right: 12px;
    vertical-align: middle;
}