/*   SearchInput   */

.searchInput {
	width: 80%;
	margin: 0 auto;
}

.searchInput input {
	font-size: 20px;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #bbb;
	width: 100%;
	box-sizing: border-box;
}
